<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>나의 당근</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">메인 화면으로 이동</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="profile">
            <h2>홍길동님의 마이 페이지</h2>
            <img src="/static/img/bay.jpg", alt="프로필 이미지">
            <p>이메일: hong@example.com</p>
        </section>
        <div>
            <nav class="button-container">
                <h3>나의 거래</h3>
                <ul>
                    <li><a href="/sales_list"><button class="carrot-button">판매내역</button></a></li>
                    <li><a href="/bought_list"><button class="carrot-button">구매내역</button></a></li>
                    <li><a href="/likes_list"><button class="carrot-button">관심목록</button></a></li>
                </ul>
            </nav>
        </div>
    </main>

    <footer>
        <p>© 2025 당근마켓</p>
    </footer>
</body>
</html>
